<div dir="rtl">
  <section class="header">
    <div class="navbar">
      <nav class="navbar navbar-expand-lg navbar-light container">
        <a class="navbar-brand" href="#">
          <img
            src="../../assets/Princeandqueen/Prince and queen logo.png"
            alt=""
            class="img-fluid"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link btn shadow-none px-3" (click)="scrollTo('about')"
                >معلومات عنا
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn shadow-none" (click)="scrollTo('service')"
                >خدمات</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link btn shadow-none" (click)="scrollTo('gallery')"
                >صالة عرض</a
              >
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link btn shadow-none" (click)="scrollTo('reviews')"
                >Testimonials</a
              >
            </li> -->
            <li class="nav-item">
              <a class="nav-link btn shadow-none" (click)="scrollTo('how')"
                >اتصل بنا</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link btn shadow-none" (click)="scrollTo('contact')"
                >موقع</a
              >
            </li>
          </ul>
        </div>
        <ul class="navbar-nav pr-0">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['']"
              routerLinkActive="router-link-active"
              >English</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link call rounded-pill" href="tel:+201222223174"
              >اتصل بنا : 01222223174</a
            >
          </li>
        </ul>
      </nav>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-7 mt-2">
          <img
            src="../../assets/Princeandqueen/Group 42.png"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-md-5 mt-2">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <p> مرحبًا بكم في Prince & Queen </p>
            <h1>التعليم المثالي <span style="color: #f99b29;">لكل طفل</span> </h1>
            <h3>  </h3>
            <div class="mt-4">
              <input
                class="form-control form-control-lg shadow-none"
                type="text"
                placeholder="اسمك"
                formControlName="name"
              />
              <app-fielderror
                [displayError]="isFieldValid('name')"
                errorMsg="رجاء ادخل اسما صحيحا"
              >
              </app-fielderror>
            </div>
            <div class="mt-4">
              <input
                class="form-control form-control-lg shadow-none"
                type="number"
                placeholder="رقم الهاتف"
                formControlName="phone"
              />
              <app-fielderror
                [displayError]="isFieldValid('phone')"
                errorMsg="يرجى إدخال رقم هاتف صالح"
              ></app-fielderror>
            </div>
            <div class="mt-4">
              <input
                class="form-control form-control-lg shadow-none"
                type="email"
                placeholder="عنوان البريد الإلكتروني"
                formControlName="email"
              />
              <app-fielderror
                [displayError]="isFieldValid('email')"
                errorMsg="يرجى إدخال عنوان بريد إلكتروني صالح"
              ></app-fielderror>
            </div>
            <div class="text-center mt-5">
              <button type="submit" class="btn-form">
                سجل طفلك الآن !!
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  
  <section class="about">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 mt-3">
          <img
            src="../../assets/Princeandqueen/Mask Group 2.png"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-md-6 mt-3">
          <h1> عنا </ h1>
            <h2> من نحن </ h2>
            <p>
              حضانة PRINCE and QUEEN ، التي تأسست عام 1989 ، هي جزء من المشروع التعليمي لمجموعة Oasis School Group التي تتكون من ثلاثة أقسام: <br>
 - حضانة PRINCE & Queen  <br>
 - مدرسة الواحة الدولية. <br>
 - وواحة المعادي .

            </p>
            <p>
              الأساليب المستخدمة في حضانة PRINCE و QUEEN هي نفسها مثل روضة Oasis Kindergarten: الأطفال مستعدون جيدًا للاندماج في المراحل العليا من المدرسة من خلال تعلم اللغة المبكر (الفرنسية أو الإنجليزية) والعديد من الأنشطة التي تحفز نمو الأطفال ، و  يشجع على بناء شخصيتهم ومهاراتهم.
            </p> 
            <p>
              حضانة PRINCE and QUEEN تخلق بيئة إيجابية ووقائية للأطفال الرضع والأطفال الصغار من 6 أشهر إلى 4 سنوات ، حتى يتمكنوا من الاكتشاف والتواصل وتعلم التعبير عن أنفسهم في بيئة محفزة وآمنة في فصول يشرف عليها معلم مدرب ومعلم  مساعد.
            </p>
        </div>
      </div>
    </div>
  </section>

  <section class=" mission">
    <div class="container"> 
          <h2 class="mb-3">الرسالة و الرؤية</h2>
          <p>
            حضانة PRINCE and QUEEN هي عائلة كبيرة. مليئة بالجو العائلي الضروري لنمو أطفالنا.
          </p>
          <p>
            "التميز والوفاء" هو شعارنا.   مدرسونا ذوي خبرة و مدربون لتزويد الأطفال بالتعليم والمهارت
          </p> 
    </div>
  </section>

  
  <section class="service">
    <div class="container">
      <h1>خدماتنا</h1>
      <div class="d-flex justify-content-between flex-wrap ">
        <div class="  mt-3 mx-md-0 mx-5">
          <div class="card text-center">
            <img
              src="../../assets/Princeandqueen/graduation cap-pen-pencil-education.svg"
              alt=""
              class="card-img-top img-card mx-auto"
            />
            <div class="card-body pb-0">
              <h5 class="card-title">تعليم</h5>
            </div>
          </div>
        </div>
        <div class="  mt-3 mx-md-0 mx-5">
          <div class="card text-center">
            <img
              src="../../assets/Princeandqueen/Group 18.svg"
              alt=""
              class="card-img-top img-card mx-auto"
            />
            <div class="card-body pb-0">
              <h5 class="card-title">رياضات</h5>
            </div>
          </div>
        </div>
        <div class="  mt-3 mx-md-0 mx-5">
          <div class="card text-center">
            <img
              src="../../assets/Princeandqueen/Group 20.png"
              alt=""
              class="card-img-top img-card mx-auto"
            />
            <div class="card-body pb-0">
              <h5 class="card-title">مسرح</h5>
            </div>
          </div>
        </div>
        <div class="  mt-3 mx-md-0 mx-5">
          <div class="card text-center">
            <img
              src="../../assets/Princeandqueen/Group 43.svg"
              alt=""
              class="card-img-top img-card mx-auto"
            />
            <div class="card-body pb-0">
              <h5 class="card-title">دين</h5>
            </div>
          </div>
        </div>
        <div class="  mt-3 mx-md-0 mx-5">
          <div class="card text-center">
            <img
              src="../../assets/Princeandqueen/Group 23.svg"
              alt=""
              class="card-img-top img-card mx-auto"
            />
            <div class="card-body pb-0">
              <h5 class="card-title">موسيقى</h5>
            </div>
          </div>
        </div>
        <div class="  mt-3  ">
          <div class="card text-center">
            <img
              src="../../assets/Princeandqueen/dinner-svgrepo-com.svg"
              alt=""
              class="card-img-top img-card mx-auto"
            />
            <div class="card-body pb-0">
              <h5 class="card-title">اتيكيت</h5>
            </div>
          </div>
        </div>
        <div class="  mt-3 mx-md-0 mx-5">
          <div class="card text-center">
            <img
              src="../../assets/Princeandqueen/Group 24.svg"
              alt=""
              class="card-img-top img-card mx-auto"
            />
            <div class="card-body pb-0">
              <h5 class="card-title">الفن والحرف</h5>
            </div>
          </div>
        </div>
        <div class="  mt-3  ">
          <div class="card text-center">
            <img
              src="../../assets/Princeandqueen/bus-transportation-svgrepo-com.svg"
              alt=""
              class="card-img-top img-card mx-auto"
            />
            <div class="card-body pb-0">
              <h5 class="card-title">النقل</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="gallery">
    <div class="container">
      <h1>صورنا</h1>
      <div class="row">
        <div class="col-md-4 mt-3">
          <img
            src="../../assets/Princeandqueen/28.png"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-md-4 mt-3">
          <img
            src="../../assets/Princeandqueen/31.png"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-md-4 mt-3">
          <img
            src="../../assets/Princeandqueen/33.png"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-md-4 mt-3">
          <img
            src="../../assets/Princeandqueen/37.png"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-md-4 mt-3">
          <img
            src="../../assets/Princeandqueen/03.png"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-md-4 mt-3">
          <img
            src="../../assets/Princeandqueen/39.png"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </section>
  
  <!-- <section class="reviews">
    <div class="container">
      <h1>Our Testimonials</h1>
      <h2>What Parents Say</h2>
  
      <div class="text-center">
        <video width="800" controls>
          <source src="mov_bbb.mp4" type="video/mp4">
          <source src="mov_bbb.ogg" type="video/ogg">
          Your browser does not support HTML video.
        </video>
      </div>
    </div>
  </section> -->
  
  <section class="admission">
    <div class="container">
      <div class="jumbotron">
        <h1>للتسجيل</h1>
        <ol type="i">
          <li>احجز موعدًا من الساعة 9 صباحًا حتى 3 مساءً</li>
          <li> ستكون عملية القبول على النحو التالي:
            <ul>
              <li>ملئ استمارة "طلب القبول" في الحضانة</li>
              <li>حدد يوم ووقت البدء </li>
              <li>استلام بريد الكتروني بالطلب ولوائح الحضانة.  املأ الطلب وأرسله مرة أخرى (قبل اليوم الأول لطفلك)</li> 
            </ul>
          </li>
          <li> المستندات المطلوبة هي:
            <ul>
              <li>نسخة من شهادة ميلاد الطفل </li>
              <li>ثلاث صور شخصية حديثة </li>
              <li>نسخة من شهادة التطعيم </li>
              <li>نسخة من البطاقه الشخصيه للوالدين</li>
            </ul> </li>
        </ol>
      </div>
   
    </div>
  </section>

  
  <section class="how container">
    <div class="row d-flex">
      <div class="col-md-2 mt-3">
        <img
          src="../../assets/Princeandqueen/h1-slide-1-img-3.png"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-md-2 mt-3"></div>
      <div class="col-md-6 mt-3 d-flex align-self-center flex-wrap">
        <h1 class="pt-3">كيف تسجل طفلك في الفصل؟</h1>
        <a class="mr-5 p-3" href="tel:+201222223174">اتصل بنا: 01222223174</a>
      </div>
      <div class="col-md-2 mt-3 align-self-end">
        <img
          src="../../assets/Princeandqueen/h1-slide-1-img-4.png"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
  </section>
  
  <section class="contact">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 pt-3">
          <h1> اتصل بنا </h1>
            <h2> تفضل بزيارتنا أو مراسلتنا على الخط </h2>
            <p class = "pb-5">
              ندعوك لزيارة حضانة PRINCE & QUEEN ، والمناقشة مع موظفينا المحترفين ومعرفة مدى سعادة طلابنا واستعدادهم جيدًا للمستقبل.
            </p>
          <div>
            <p>
              <i class="fas fa-map-marker-alt pl-2 btn-outline-danger"></i>
              <a
                href="https://www.google.com/maps/place/Prince+%26+Queen+Nursery+./@30.1650625,31.6282488,17z/data=!3m1!4b1!4m5!3m4!1s0x1457f7f2cbf6027f:0xdd1ce2a5e4c18be9!8m2!3d30.1650445!4d31.6303225"
                target="blank"
              >
              قطعة 3 الحى الأول شرق المجاورة الثانية شارع احمد امين مختار بجوار مسجد الاحسان (الشروق 2)
              </a>
            </p>
            <p>
              <i class="fas fa-phone pl-2 btn-outline-danger"></i>
              <a href="tel:+201222223174"> 01222223174 (+2)</a>
            </p>
            <p>
              <i class="far fa-envelope pl-2 btn-outline-danger"></i>
              <a href="mailto:prince.queen@oasisdemaadi.com"
              > prince.queen@oasisdemaadi.com</a
            >
            </p>
          </div>
        </div>
        <div class="col-md-6 pt-3">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d725.1728202967004!2d31.630041302224203!3d30.165059048312106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1457f7f2cbf6027f%3A0xdd1ce2a5e4c18be9!2sPrince%20%26%20Queen%20Nursery%20.!5e0!3m2!1sen!2seg!4v1635774822036!5m2!1sen!2seg" class="w-100"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </section>
  
  <div class="footer mt-5">
    <div class="container text-center">
      <img
        src="../../assets/Princeandqueen/Prince and queen logo.png"
        alt=""
        class="img-fluid"
      />
  
      <div class="d-md-flex justify-content-between flex-wrap w-50 mx-auto">
        <a class="nav-link pt-5 btn shadow-none" (click)="scrollTo('about')"
          >معلومات عنا</a
        >
  
        <a class="nav-link pt-5 btn shadow-none" (click)="scrollTo('gallery')"
          >صورنا</a
        >
  
        <a class="nav-link pt-5 btn shadow-none" (click)="scrollTo('service')"
          >خدمات</a
        >
  
        <a class="nav-link pt-5 btn shadow-none" (click)="scrollTo('how')"
          >اتصل بنا</a
        >
  
        <a class="nav-link pt-5 btn shadow-none" (click)="scrollTo('contact')"
          >موقع</a
        >
      </div>
      <div class="text-center">
        <div class="logos mt-3">
          <a href="https://www.facebook.com/PrinceQueenNursery/?ref=br_rs"> <i class="fab fa-facebook-square fa-2x mx-2"></i></a>
           <!-- <a href=""><i class="fab fa-twitter-square fa-2x mx-2"></i></a> -->
           <a href="https://instagram.com/princeandqueennursery?utm_medium=copy_link"><i class="fab fa-instagram-square fa-2x mx-2"></i></a>
         </div>
        <div>
          <p>حقوق النشر © 2021 Panoply Nursery & Pre school</p>
        </div>
      </div>
    </div>
  </div>
  
</div>